.single-product {
    display: flex;
    gap: 90px;
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
}

img {
    width: 400px;
    height: 400px;
}

.product-title {
    font-size: 30px;
}

.cart-btn-div {
    margin-top: 170px;
}

.cart-btn {
    background-color: rgb(46, 187, 187);
    color: white;
    /* padding: 8px 10px; */
	border: 1px solid rgb(46, 187, 187);
	border-radius: 4px;
    cursor: pointer;
    width: 90px;
    height: 40px;
}

.cart-btn:hover {
    background-color: teal;
}