.product-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
	column-gap: 40px;
	margin-top: 20px;
}

.input {
	width: 300px;
	height: 30px;
	border: 1px solid gray;
	border-radius: 8px;
	outline: none;
}

.sort-btn{
	margin-left: 8px;
	height: 33px;
	width: 75px;
	background-color: teal;
	border: none;
	color: white;
	border-radius: 8px;
	cursor: pointer;
}
