.product-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
	column-gap: 40px;
	margin-top: 20px;
}

@media only screen and (max-width: 600px) {
	.product-list {
		display: grid;
		grid-template-columns: auto;
		margin-top: 20px;
	}
}

@media only screen and (min-width: 600px) {
	.product-list {
		display: grid;
		grid-template-columns: auto auto;
		margin-top: 20px;
	}
}

@media only screen and (min-width: 768px) {
	.product-list {
		display: grid;
		grid-template-columns: auto auto auto;
		margin-top: 20px;
	}
}

@media only screen and (min-width: 992px) {
	.product-list {
		display: grid;
		grid-template-columns: auto auto auto auto;
		margin-top: 20px;
	}
}

.input {
	width: 300px;
	height: 30px;
	border: 1px solid gray;
	border-radius: 8px;
	outline: none;
	margin-top: 20px;
}

.sort-btn{
	margin-left: 8px;
	height: 43px;
	width: 125px;
	background-color: rgb(46, 187, 187);
	border: none;
	color: white;
	border-radius: 8px;
	cursor: pointer;
}

.sort-btn:hover {
	background-color: teal;
}

.link {
	text-decoration: none;
	color: black;
}